*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background: #04BFBF;
}
header h1{
    padding-top: 10px;
}

body h1{
    margin-bottom: 20px;
}
/* Estilos para el formulario */
.formulario {
    
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #404040;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

/* Estilos para las etiquetas */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: antiquewhite;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="datetime-local"] {
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

/* Estilos para el botón de envío */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
/*Estilos botón de envio*/

button[type="submit"]:hover {
    background-color: #0056b3;
}
/*Estilos section citas para centrar y separar*/
.citas{
    padding-top: 20px;
}
.citas-lista{
    display: grid;
    align-items: center;
    justify-content: center;
}

/*Estilos .card trajeta de citas*/
.card {
    background: #ccc;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.10);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 10px; 
    text-align: center; 
    margin: 10px; 
    width: 200px; 
}
.card:hover{
    transform: scale(1.2);
    cursor: pointer;
}


/* Estilos para titulo h3 dentro de .card*/
.card h3 {
    font-size: 24px; 
    color: #000000; 
    margin: 10px 0; 
}


/* Estilos para p dentro de .card*/
.card p {
    font-size: 16px; 
    color: #000000; 
    margin: 5px 0; 
}
